<div class="form-wrapper">
  <div class="form-container container">
    <h2 class="text-center mb-4">{{ examId === 0 ? 'Add Exam' : 'Edit Exam' }}</h2>
    <form [formGroup]="formData" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <div class="mb-3 col-lg-4">
          <label class="form-label">Exam Title</label>
          <input type="text" class="form-control" formControlName="title" placeholder="Enter Exam Title" required>
        </div>

        <div class="mb-3 col-lg-4">
          <label class="form-label">Exam Time (min)</label>
          <input type="number" class="form-control" formControlName="time" placeholder="e.g. 10">
        </div>

        <div class="mb-3 col-lg-4">
          <label class="form-label">Number of Questions</label>
          <input type="number" class="form-control" formControlName="numberOfQuestions" placeholder="e.g. 10">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="mb-3 col-lg-4">
          <label class="form-label">Difficulty</label>
          <select class="form-select" formControlName="difficulty">
            <option value="" disabled>Select Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
          </select>
        </div>

        <div class="mb-3 col-lg-4">
          <label class="form-label">Availability</label>
          <select class="form-select" formControlName="Available">
            <option value="" disabled>Is Available?</option>
            <option [value]="true">Available</option>
            <option [value]="false">Not Available</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-4">
          <button type="submit" class="btn w-100 py-2 fs-5 rounded-pill shadow">
            <i class="bi bi-save me-2"></i>
            {{ examId === 0 ? 'Save Exam' : 'Edit Exam' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
