<div class="form-wrapper d-flex justify-content-center align-items-center">
  <div>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      style="width: 380px; background-color: white; border-radius: 20px; padding: 25px;"
    >
      <h5 class="text-center mb-4">Login</h5>

      <div class="mb-4">
        <input
          type="email"
          class="form-control"
          placeholder="Enter Your Email"
          formControlName="Email"
        />
        <div *ngIf="getEmail?.touched">
          <div class="text-danger" *ngIf="getEmail?.hasError('email')">
            Not a valid email
          </div>
          <div class="text-danger" *ngIf="getEmail?.hasError('required')">
            Enter your email
          </div>
        </div>
      </div>

      <div class="mb-4">
        <input
          type="password"
          class="form-control"
          placeholder="Enter Your Password"
          formControlName="Password"
        />
        <div class="text-danger" *ngIf="getPassword?.touched && getPassword?.hasError('required')">
          Enter your password
        </div>
      </div>

      <div class="row justify-content-center">
        <div>
          <button
            type="submit"
            class="btn mb-5 w-100 fs-5 rounded-pill shadow"
            style="background-color: #89467C; color: white;"
          >
            Login
          </button>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="text-center" style="color: #7593B0;">
          Don't have an account?
          <a style="color: #89467C; cursor: pointer;" routerLink="/signup">SignUp</a>
        </div>
      </div>
    </form>
  </div>
</div>
