<div class="container py-4">
  <form>
    <div class="card shadow-sm rounded-4 p-4">
      <div class="mb-4">
        <label for="questionTitle" class="form-label fw-semibold"> Question Text</label>
        <input
          type="text"
          id="questionTitle"
          name="questionTitle"
          class="form-control"
          placeholder="type Question Text here"
        />
      </div>
      <div class="mb-4">
        <label class="form-label fw-semibold">options</label>

        <div class="row g-3">
          <div class="col-md-6">
            <input
              type="text"
              name="option1"
              class="form-control"
              placeholder="option1 "
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="option2"
              class="form-control"
              placeholder="option2 "
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="option3"
              class="form-control"
              placeholder="option3"
            />
          </div>
          <div class="col-md-6">
            <input
              type="text"
              name="option4"
              class="form-control"
              placeholder="option4"
            />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success px-4 rounded-pill">
    Save Question
        </button>
      </div>
    </div>
  </form>
</div>
